@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
select,
button,
textarea {
    font: inherit;
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --FF: "Open Sans", sans-serif;
    --FF-HEADINGS: "Inconsolata", serif;
    --FS: clamp(0.75rem, 2vw, 1rem);

    /* COLOR */
    --BGCOLOR: #010409;
    --BODY-BGCOLOR: #0d1117;
    --BUTTON-COLOR: #e6edf3;
    --FONT-COLOR: #e6edf3;
    --HEADER-BGCOLOR: #161b22;
    --LINK-ACTIVE: #ff7b72;
    --LINK-COLOR: #79c0ff;
    --LINK-HOVER: #7ee787;
    --INPUT-HOVER: #7ee787;

    /* BORDERS */
    --BORDERS: 2px solid #6e7681;
    --BORDER-RADIUS: 10px;

    /* ANIMATIONS */
    --ANI-DURATION: 0.5s;
    --ANI-EASE: ease-in-out;
}

/* || GENERAL STYLES */
.center {
    text-align: center;
}

html {
    scroll-behavior: smooth;
    font-family: var(--FF);
    font-size: var(--FS);
    background-color: var(--BGCOLOR);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: #e6edf3;
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
}

.header {
    background-color: var(--HEADER-BGCOLOR);
    position: sticky;
    top: 0;
    z-index: 1;
    animation: slideInDown var(--ANI-DURATION) var(--ANI-EASE);
}

.header__h1 {
    font-family: var(--FF-HEADINGS);
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 0;
    animation: fadeIn var(--ANI-DURATION) var(--ANI-EASE);
}

.header__nav {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    border: var(--BORDERS);
    overflow: hidden;
}

.header__ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    list-style-type: none;
    animation: fadeInUp var(--ANI-DURATION) var(--ANI-EASE);
}

.header__ul li a {
    display: block;
    padding: 0.5rem;
    font-family: "Inconsolata", serif;
    font-weight: bold;
    transition: background-color var(--ANI-DURATION) var(--ANI-EASE), transform var(--ANI-DURATION) var(--ANI-EASE);
}

.header__ul li a:hover,
.header__ul li a:focus {
    border-radius: var(--BORDER-RADIUS);
    background-color: hsla(208, 100%, 74%, 0.1);
    transform: scale(1.1);
}

a:any-link {
    color: var(--LINK-COLOR);
    text-decoration: none;
}

a:hover,
a:focus-visible {
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}

p {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    line-height: 1.5;
}

details p {
    margin-top: 1rem;
    font-style: italic;
}

.main__article {
    scroll-margin-top: 7.675rem;
    padding: 1.5rem;
}

.about__h2,
.info__h2,
.sample__h2,
.journey__h2,
.vacation__h2 {
    font-family: var(--FF-HEADINGS);
    font-weight: 900;
    font-size: 1.75rem;
    padding: 1rem 0;
    animation: fadeIn var(--ANI-DURATION) var(--ANI-EASE);
}

h3 {
    font-family: var(--FF-HEADINGS);
    font-weight: 900;
    font-size: 1.5rem;
    padding-bottom: 0;
    animation: fadeIn var(--ANI-DURATION) var(--ANI-EASE);
}

.journey__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "hd1 hd1 hd3"
        "mr mrt mra"
        "br brt bra"
        "af aft afa"
        "ev evt eva"
        "en ot ena"
        "ln ot lna"
        "ft ft ft";
    gap: 0.1em;
    margin-bottom: 1em;
}

.sched__header {
    border-bottom: var(--BORDERS);
}

.sched__mr {
    grid-area: mr;
}

.sched__br {
    grid-area: br;
}

.sched__af {
    grid-area: af;
}

.sched__ev {
    grid-area: ev;
}

.sched__en {
    grid-area: en;
}

.sched__ln {
    grid-area: ln;
}

.sched__ot {
    grid-row: span 2;
}

.sched__footer {
    grid-column: span 3;
}

.sched__item {
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
}

.sched__header,
.sched__item {
    width: 100%;
    padding: 1em;
    border: medium ridge #6e7681;
}

thead th:first-child {
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
}

tfoot td {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul,
ol,
dl {
    margin: 1rem 0 1rem 1rem;
    line-height: 1.5;
}

section li {
    margin-top: 1rem;
}

section li p {
    margin-bottom: 0.5rem;
}

dd {
    margin: 0.5rem 1.5rem;
}

.html5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.html5-logo {
    width: 45%;
}

.html5-logo img {
    width: 100%;
    height: auto;
    min-height: 100px;
}

address {
    padding: 1rem 0;
}

.legend {
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
}

fieldset {
    border-radius: var(--BORDER-RADIUS);
    padding: 1rem;
}

fieldset:first-of-type p label {
    display: block;
}

fieldset:last-of-type label {
    display: block;
}

input,
select,
button,
textarea {
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:not([type=radio], [type=checkbox]),
select,
textarea {
    background-color: #fffafa;
    padding: 0.5em;
    border-radius: var(--BORDER-RADIUS);
    border-width: 2px;
    width: 100%;
}

input:hover,
input:focus,
select:hover,
select:focus-visible,
textarea:hover,
textarea:focus-visible {
    border-color: var(--INPUT-HOVER);
    box-shadow: 0 0 5px rgba(126, 231, 135, 0.5);
}

button {
    padding: 0.5em;
    width: 25%;
    border-radius: var(--BORDER-RADIUS);
    background-color: var(--BUTTON-COLOR);
    cursor: pointer;
    transition: background-color var(--ANI-DURATION) var (--ANI-EASE), transform var(--ANI-DURATION) var(--ANI-EASE);
}

button:hover {
    background-color: var(--LINK-HOVER);
    transform: scale(1.05);
}

.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--HEADER-BGCOLOR);
    padding: 0.5rem;
    text-align: center;
    border-top: var(--BORDERS);
    animation: slideInUp var(--ANI-DURATION) var(--ANI-EASE);
}

.footer p {
    font-family: "Inconsolata", serif;
    font-weight: bold;
    padding: 0;
    margin-top: 0;
}

/* Keyframes for Animations */
@keyframes slideInDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mobile (small) */
@media screen and (max-width: 320.99px) {
    .header__h1 {
        font-size: 2.25rem;
    }

    .main__article {
        scroll-margin-top: 7.5rem;
    }

    .journey__container {
        font-size: 0.9rem;
    }
}

/* Mobile (medium) */
@media screen and (min-width: 321px) and (max-width: 375.99px) {
    .main__article {
        scroll-margin-top: 7.5rem;
    }

    .journey__container {
        font-size: clamp(0.9rem, 2vw, 1rem);
    }
}

/* Mobile (large) */
@media screen and (min-width: 376px) and (max-width: 425.99px) {
    .main__article {
        scroll-margin-top: 7.685rem;
    }
}

/* Tablet */
@media screen and (min-width: 426px) and (max-width: 768.99px) {
    .main__article {
        scroll-margin-top: 7.7rem;
    }
}

/* Desktop */
@media screen and (min-width: 769px) and (max-width: 1440.99px) {
    body {
        max-width: 720px;
    }

    .main__article {
        scroll-margin-top: 7.7rem;
    }
}

/* Large Desktop */
@media screen and (min-width: 1441px) {
    body {
        max-width: 720px;
    }

    .main__article {
        scroll-margin-top: 7.7rem;
    }
}