* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #343434;
    color: #fffafa;
    min-height: 100vh;
}

a {
    color: #81d4fa;
}

a:visited {
    color: #ce93d8;
}

a:hover,
a:active {
    color: #03a9f4;
}

table,
tr,
th,
td,
caption {
    border: 2px solid #555;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    padding: 1rem;
}